{% load static wagtailcore_tags wagtailuserbar menus_tags %}

{% get_menu "main" as navigation %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap" rel="stylesheet">
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/holliesblog.css' %}">

    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
       
        {% include "navbar.html" %}

        <div class="message-container">
            {% if messages %}
                    {% for message in messages %}
                        <div class="messages">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
        </div>

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/holliesblog.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
    <footer>
        {% include "footer.html" %}
    </footer>

</html>